<header class='flex justify-center'>
  <h1 class='text-4xl'>{{title}}</h1>
</header>
<div class='flex justify-center bg-pink-400 cursor-pointer py-4 my-2'>
  <a routerLink='/' class='px-2 hover:border-b hover:border-gray-600'>
    Home
  </a>
  <a routerLink='/todos' class='px-2 hover:border-b hover:border-gray-600'>
    Todos editor
  </a>
</div>
<router-outlet></router-outlet>
