<div class='flex justify-center'>
  <test-nx-repo-todo-form [selectedToDo]='selectedToDo' (resetForm)=resetTodo() (savedToDo) = saveToDo($event) class='mx-4'></test-nx-repo-todo-form>
  <test-nx-repo-todo-list [todos]='todos$ | async' (todoSelected)='selectToDo($event)' (deleteToDo)='deleteTodo($event)'></test-nx-repo-todo-list>
</div>
