<div *ngIf='todos?.length'class='flex flex-col bg-gray-100 p-4 rounded-md border border-blue-200'
>
  <div *ngFor='let todo of todos' class='flex justify-between py-1 border-b border-color-gray-200'>
    <div (click)='selectToDo(todo)' class=''>
      <div class='text-xl cursor-pointer'>
        <span class='pr-2'>{{todo.title}}</span>
        <span *ngIf='todo.urgency == 1' style='width: 1rem; height: 1rem; background-color: green; border-radius: 50%; padding: 0 0.75rem;'></span>
        <span *ngIf='todo.urgency == 2' style='width: 1rem; height: 1rem; background-color: rgba(248, 113, 113,0.5); border-radius: 50%; padding: 0 0.75rem;'></span>
        <span *ngIf='todo.urgency == 3' style='width: 1rem; height: 1rem; background-color: rgba(153, 27, 27, 1); color: white; border-radius: 50%; padding: 0 0.75rem;'></span>

      </div>
      <div class=' px-2'>{{todo.description}}</div>
    </div>
<div>
  <div *ngIf='todo.createdAt' class='text-gray-400 text-right px-2'>{{todo.createdAt}}</div>
   <div (click)="deletedToDo(todo.id)" class='bg-red-200 tx-grey-600 p-1 mx-1 rounded-xl hover:bg-red-600 hover:text-white cursor-pointer'>Delete</div>
</div>
  </div>
</div>
