<form
  #form="ngForm"
  (submit)='saveTodo(currentToDo)'
  class='flex flex-col bg-gray-100 p-4 rounded-md border border-blue-200'
>
  <div id='form-fields'>
  <div class='flex flex-col justify-left py-2'>
    <label for='title' class='text-xl'>To-Do Title</label>
    <input
      type='text'
      id='title'
      name='title'
      [(ngModel)]='currentToDo.title'
      required
      placeholder="Enter your To-Do's title here"
      class='bg-gray-400 rounded-md'
    >
  </div>
 <div class='flex flex-col justify-left py-2'>
   <label for='description' class='text-xl'>Description</label>
  <textarea
    type='text'
    id='description'
    name='description'
    [(ngModel)]='currentToDo.description'
    required
    placeholder='Describe the To-Do'
    class='h-4 leading-none'
  ></textarea>
   </div>
  <div class='flex flex-col py-2'>
      <div class='w-full flex justify-left'>
        <input type="radio" id="not-urgent" name="urgency" value="1" [(ngModel)]='currentToDo.urgency' class='mt-1'>
        <label for='not-urgent' class='text-md px-1'>Not urgent</label>
    </div>
    <div class='flex justify-left'>
      <input type="radio" id="urgent" name="urgency" value="2" [(ngModel)]='currentToDo.urgency' class='mt-1'>
      <label for='urgent' class='text-md px-1'>Urgent</label>
    </div>
    <div class='flex justify-left'>
      <input type="radio" id="super-urgent" name="urgency" value="3" [(ngModel)]='currentToDo.urgency' class='mt-1'>
      <label for='super-urgent' class='text-md px-1'>Super urgent</label>
    </div>
  </div>
  </div>

  <div class='flex justify-center'>
    <button [disabled]='form.invalid' type='submit' class='text-white bg-indigo-400 p-1 rounded-xl hover:bg-indigo-600 border-2 border-gray-600 hover:border-gray-200'>
      Save
    </button>
  </div>
  <div class='flex justify-end'>
    <button type='button' (click)='clearForm()' class='text-gray-400 text-sm bg-white px-1 mt-4 rounded-xl hover:bg-indigo-600 border-2 border-gray-600 hover:border-gray-200'>
      Clear Form
    </button>
  </div>
</form>
